<!DOCTYPE html>
<html>
<head>
    <title>CMR</title>
    <!-- TODO fix this and remove inline css -->
    <link rel='stylesheet' href='/stylesheets/cmr.css'/>
    <style>
        * {
            margin:0;
            padding: 0;
        }
        body
        {
            width: 21.0cm;
            height: 29.7cm;
            /*background-image: url('../images/cmrbe.jpg');*/
            background-repeat: no-repeat;
            background-size: 21.0cm 29.7cm;
            font-size: 11px;
            font-family: "Times New Roman";
        }
        p
        {
            position: absolute;
        }
        #sender
        {
            left:   2.4cm;
            top:    3.98cm;
            width:  8.62cm;
            height: 1.75cm;
        }
        #receiver
        {
            left: 2.4cm;
            top: 6.52cm;
            width: 8.5cm;
            height: 1.7cm;
        }
        #reception
        {
            left: 2.4cm;
            top: 8.99cm;
            width: 5.8cm;
            height: 1.7cm;
        }
        #reception-date
        {
            left: 8.9cm;
            top: 8.99cm;
            width: 4.46cm;
            height: 1.7cm;
        }
        #delivery
        {
            left: 2.4cm;
            top:    10.4cm;
            width:  5.8cm;
            height: 1cm;
        }
        #delivery-date
        {
            left: 8.9cm;
            top:    8.99cm;
            width:  2.0cm;
            height: 0.7cm;
        }
        #transporter-main
        {
            left: 11.6cm;
            top: 4.1cm;
            width: 8.5cm;
            height: 3.04cm;
        }
        #transporter-sub
        {
            left: 11.6cm;
            top: 7.96cm;
            width: 8.5cm;
            height: 2.31cm;
        }
        #transporter-successive
        {
            left: 11.6cm;
            top: 11cm;
            width: 8.5cm;
            height: 0.1cm;
        }
        #transport-related-costs
        {
            left: 3cm;
            top: 12.41cm;
            width: 7.8cm;
            height: 3.13cm;
        }
        #goods
        {
            left: 2.4cm;
            top: 16.2cm;
            width: 17.8cm;
            height: 6.51cm;
        }
        #issue
            /*datum plaast afgifte*/
        {
            left: 2.4cm;
            top: 25.29cm;
            width: 6cm;
            height: 0.47cm;
        }
        #instructions-sender
        {
            left: 12.2cm;
            top: 24.27cm;
            width: 7.8cm;
            height: 1.4cm;
        }
        #signature-sender
        {
            left: 2.4cm;
            top: 26.31cm;
            width: 5.5cm;
            height: 22.6cm;
        }
        #signature-transporter
        {
            left: 8.5cm;
            top: 26.31cm;
            width: 5.67cm;
            height: 2.26cm;
        }
        #signature-receiver
        {
            left: 14.6cm;
            top: 26.31cm;
            width: 5.67cm;
            height: 2.26cm;
        }
    </style>
</head>
<body>
<% if (cmr.sender) { %>
<p id="sender">
    <%= cmr.sender.company %><br/>
    <%= cmr.sender.lastName %>
    <%= cmr.sender.firstName %><br/>
    <% if (cmr.sender.location){ %>
    <%= cmr.sender.location.address %><br/>
    <%= cmr.sender.location.postal %>
    <%= cmr.sender.location.city %><br/>
    <% } %>
    <%= cmr.sender.telephone %><br/>
    <%= cmr.sender.email %>
</p>
<% } %>
<% if (cmr.receiver) { %>
<p id="receiver">
    <%= cmr.receiver.company %><br/>
    <%= cmr.receiver.lastName %>
    <%= cmr.receiver.firstName %><br/>
    <% if (cmr.receiver.location){ %>
    <%= cmr.receiver.location.address %><br/>
    <%= cmr.receiver.location.postal %>
    <%= cmr.receiver.location.city %><br/>
    <% } %>
    <%= cmr.receiver.telephone %><br/>
    <%= cmr.receiver.email %>
</p>
<% } %>
<% if (cmr.reception) { %>
<p id="reception">
    <%= cmr.reception.name %><br/>
    <% if (cmr.reception.location){ %>
    <%= cmr.reception.location.address %><br/>
    <%= cmr.reception.location.postal %>
    <%= cmr.reception.location.city %><br/>
    <% } %>
    <%= cmr.reception.time %>
</p>
<% } %>
<% if (cmr.deliveryLocation) { %>
<p id="delivery">
    <%= cmr.deliveryLocation.name %><br/>
    <% if (cmr.deliveryLocation.location){ %>
    <%= cmr.deliveryLocation.location.address %><br/>
    <%= cmr.deliveryLocation.location.postal %><br/>
    <% } %>
    <%= cmr.deliveryLocation.time %>
</p>
<% } %>
<% if (cmr.mainTransporter) { %>
<p id="transporter-main">
    <%= cmr.mainTransporter.company %><br/>
    <%= cmr.mainTransporter.lastName %>
    <%= cmr.mainTransporter.firstName %><br/>
    <% if (cmr.mainTransporter.location){ %>
    <%= cmr.mainTransporter.location.address %><br/>
    <%= cmr.mainTransporter.location.postal %>
    <%= cmr.mainTransporter.location.city %>
    <% } %>
    <%= cmr.mainTransporter.telephone %><br/>
    <%= cmr.mainTransporter.email %>
</p>
<% } %>
<% if (cmr.subTransporter) { %>

<p id="transporter-sub">
    <%= cmr.subTransporter.company %><br/>
    <%= cmr.subTransporter.lastName %>
    <%= cmr.subTransporter.firstName %><br/>
    <% if (cmr.subTransporter.location){ %>
    <%= cmr.subTransporter.location.address %><br/>
    <%= cmr.subTransporter.location.postal %>
    <%= cmr.subTransporter.location.city %>
    <% } %>
    <%= cmr.subTransporter.telephone %><br/>
    <%= cmr.subTransporter.email %>
</p>
<% } %>
<% if (cmr.successiveTransporter) { %>
<p id="transporter-successive">
    <%= cmr.successiveTransporter.company %><br/>
    <%= cmr.successiveTransporter.lastName %>
    <%= cmr.successiveTransporter.firstName %><br/>
    <% if (cmr.successiveTransporter.location){ %>
    <%= cmr.successiveTransporter.location.address %><br/>
    <%= cmr.successiveTransporter.location.postal %>
    <%= cmr.successiveTransporter.location.city %>
    <% } %>
    <%= cmr.successiveTransporter.telephone %><br/>
    <%= cmr.successiveTransporter.email %>
</p>
<% } %>

<p id="goods">
    <% if (cmr.goods){ %>
    <% for(var i = 0; i < cmr.goods.length; i++) { %>

    <%= cmr.goods[i].name %>
    <% if (cmr.goods[i].adr) { %>
    <%= cmr.goods[i].adr %>
    <% } %>
    <br/>

    <% } %>
    <% } %>
</p>
<% if (cmr.setup) { %>
<p id="issue">
    <%= cmr.setup.date %>
    <% if (cmr.setup.location){ %>
    <%= cmr.setup.location.address %>
    <%= cmr.setup.location.postal %>
    <%= cmr.setup.location.city %>
    <% } %>
    <%= cmr.setup.time %>
    <br/>
</p>
<% } %>
<% if (cmr.autographs) { %>
<p id="signature-sender">
    <%= cmr.autographs.sender %>
</p>

<p id="signature-transporter">
    <%= cmr.autographs.transporter %>
</p>

<p id="signature-receiver">
    <%= cmr.autographs.receiver %>
</p>
<% } %>
</body>
</html>
